body {
    color: #e3dbdb;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('images/home_backgound.jpeg') no-repeat center;
    background-size: cover;
    text-align: center;
  }
.jumbotron {
    background: url('images/bulbasaur_background.png') repeat center;
    background-size: auto;
    color: #cfc3c3;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    border: 1px solid black; 
}
.navbar {
    justify-content: end;
    background: url('images/bulbasaur_background.png') no-repeat center;
    color: #cfc3c3;
    text-align: center;
    padding: 10px;
 
}

  .container {
    color: #e3dbdb;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .title {
    text-align: center;
    color: #e3dbdb;
    
  }

  h1 {
    text-align: center;
    color: #dad7d7;
  }

  #pokemon-info {
    color: #e3dbdb;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    /* background-color: #f9f9f9; */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }